* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  display: flex;
  background-color: dodgerblue;
}
.logo > p {
  padding: 0 0.5rem;
  color: white;
}
.logo {
  flex: 1;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  color: white;
  font-size: small;
}

h1,
h2 {
  color: slategrey;
  padding: 0.5rem;
}
h1 {
  margin: 0.5em;
}
#user {
  display: flex;
  justify-content: center;
}
form {
  border: solid black 1px;
  border-radius: 0.25em;
  margin: 2rem;
  width: 50%;
}
#save {
  background-color: dodgerblue;
}
label {
  height: 1em;
  font-size: small;
  color: slategrey;
  padding: 1em;
  margin: 1em;
}
#cards > div {
  display: flex;
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 1rem 4rem;
  margin: 0.5rem;
  border: solid black 1px;
  border-radius: 0.5em;
  flex: 0 0 calc(100% / 3 -10rem);
}
form > div {
  display: flex;
  justify-content: center;
}

button {
  margin: 1rem 0;
}

.inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.inputs p {
  margin: 0.25em;
}

@media (max-width: 600px) {
  header,
  nav {
    display: flex;
    flex-flow: column;
  }

  .item {
    align-self: flex-start;
    padding: 0.5rem 1em;
  }

  form {
    flex: 0 0 calc(100% - 2rem);
  }
  #cards > div {
    flex-flow: column;
  }
  form > div {
    display: flex;
    flex-flow: column;
  }
  button {
    margin: 0 1rem;
  }
  /* input {
      display:block;
  } */
}
